<h2>Welcome to the Gobias Industries Wiki</h2>
<p>This is the go-to information source for all Gobias-related issues. 
	Employees can read, write, and edit articles that are important to their 
	jobs and departments. Feel free to contribute to the community and contact
	 article authors for more information on topics. To get started, sign up or 
	 log in below.</p>
<a href='/user/login'>Login</a>
<a href='/user/new'> Sign up</a>