<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
    <title>Gobias Industries Wiki</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <h1><a href="/">Gobias Industries Wiki</a></h1>
      </div>
      <div class="links">
        <ul>
          <li><a href="/user/">Employees</a></li>
          <li><a href="/articles/">Articles</a></li>
        </ul>
      </div>
    </header>
    <main>
      <%- body %>
    </main>
  </body>
</html>