<div class="heading">
	<h2>All Employees</h2>

	<div class="article-body">
		<% users.forEach( function (thisUser) { %>
			<h2><a href="/user/<%= thisUser._id %>"><%= thisUser.firstName %></a></h2>
			<ul>
				<li><%= thisUser.jobTitle %></li>
				<li><%= thisUser.email %></li>
			</ul>
		<% }) %>
	</div>
</div>