<div class="heading">
	<h2>Login below</h2>
</div>

<form method='post' action='/session'>
	<div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="session[email]" placeholder="Email" id="email"/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="session[password]" placeholder="Password" id="password"/>
      </div>
      <button type="submit" class="btn btn-default">Login</button>
</form>