<h2>Gobias Employee not registered yet? Sign up below!</h2>

<form method="post" action="/user/new">
	<div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="user[name]" placeholder="Name" id="name"/>
      </div>
      <div class="form-group">
        <label for="lastname">Email</label>
        <input class="form-control" type="text" name="user[email]" placeholder="Email" id="email"/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="user[password]" placeholder="Password" id="password"/>
      </div>
      <div class="form-group">
        <label for="passwordconfirm">Confirm Password</label>
        <input class="form-control" type="password" name="user[password]" placeholder="Confirm Password" id="passwordconfirm"/>
      </div>
     <br/>
    <input type="submit" value="Sign Up">
</form>
