<h2><%= thisArticle.title %></h2>
<h4>by <%= thisArticle.author %></h4>
<p><%= thisArticle.body %></h3>
<ul>
	<% for (var i = 0; i < thisArticle.tags.length; i++) { %>
		<li><%= thisArticle.tags[i] %></li>
	<% } %>
</ul>