<h2><%= thisArticle.title %></h2>
<h3><%= thisArticle.author.name %></h3>
<p><%= thisArticle.body %></h3>
<ul>
	<% for (var i = 0; i < thisArticle.tags.length; i++) { %>
		<li><%= thisArticle.tags[i] %></li>
	<% } %>
</ul>