<h2>Article Edit</h2>

<form method="post" action="/articles/<%= theArticle._id %>">
	<div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="article[title]" placeholder="Title" value="<%= theArticle.title %>" id="title"/>
      </div>
      <div class="form-group">
        <label for="body">Body</label>
        <textarea class="form-control" rows="5" name="article[body]" placeholder="Article Body" id="body"/><%= theArticle.body %></textarea>
      </div>
      <div class="form-group">
      <label>Tags</label><br/>
        <input type="checkbox" id="inlineCheckbox1" name="article[tags][]" value="HR" checked="<% for (var i = 0; i < theArticle.tags.length; i++) { %>
          <% if (theArticle.tags[i] === "HR") { %>
            "checked"
          <% } %>
        <% } %>"
        >
        <label class="checkbox-inline" for="inlineCheckbox1">HR
        </label>
        <input type="checkbox" id="inlineCheckbox2" name="article[tags][]" value="New Hires" checked="<% for (var i = 0; i < theArticle.tags.length; i++) { %>
          <% if (theArticle.tags[i] === "New Hires") { %>
            "checked"
          <% } %>
        <% } %>"
        >
        <label class="checkbox-inline" for="inlineCheckbox2">New Hires
        </label>
        <input type="checkbox" id="inlineCheckbox3" name="article[tags][]" value="Payroll" checked="<% for (var i = 0; i < theArticle.tags.length; i++) { %>
          <% if (theArticle.tags[i] === "Payroll") { %>
            "checked"
          <% } %>
        <% } %>"
        >
        <label class="checkbox-inline" for="inlineCheckbox3">Payroll
        </label>
      </div>
     <br/>
 	<input type="submit" value="Publish Update">
</form>