<h2>Articles</h2>
<a href="/new">Create a new article</a>

<% allArticles.forEach (function (article) { %>
	<h3><a href="/articles/<%= article._id %>"><%= article.title %> by <%= article.author %></a></h3>
<% }) %>