* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #222;
	background: #eee;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #eee;
}

a:hover, main a:hover {
	color: lightblue;
	text-decoration: none;
}

header {
	color: #eee;
	background: #005743;
	position: absolute;
	top: 0;
	width: 100%;
}

header h1 {
	padding-left: 10px;
}

main {
	position: relative;
	top: 60px;
	padding: 20px;
}

main a {
	color: #222;
}

main > div {
	display: inline-block;
}

.links {
	width: 8%;
	height: 100%;
	margin-top: 5px;
	margin-left: 2px;
	padding: 5px;
	float: left;
	text-align: center;
}

.links ul {
	list-style: none;
	width: 100%;
}

.links button {
	width: 100%;
	display: block;
	background-color: orange;
	padding: 3px;
	margin-bottom: 3px;
	border-radius: 10%;
}

.links button:hover {
	background-color: steelblue;
}

.content {
	width: 88%;
	height: 100%;
	float: right;
	vertical-align: top;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #666666;
	margin-left: 5px;
	padding: 5px;
}